<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <h1><h1>

  <body>
    <%if !!curr_user%>
      <h1>Welcome <%=@curr_user.username%><h1>
      <form action= "<%= sessions_url %>" method="post">
      <input name="_method" type="hidden" value="delete">
    <%end%>
    <%= yield %>
  </body>
</html>
